body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    font-size: 1.2em;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#featured {
    background-color: #5e5e5e;
    color: #fff;
    padding: 50px 0;
}

.featured-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 10px;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}

.featured-box h2 {
    font-size: 2em;
}

#main-content {
    padding: 50px 0;
}

.content-column {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 0 2.5%;
    box-sizing: border-box;
}

.content-column h2 {
    font-size: 2em;
    color: #333;
}

#cta {
    background-color: #ff8c00;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

#cta h2 {
    font-size: 2.5em;
}

#cta p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}